/* Impor font Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Impor layer dasar Tailwind */
@import "tailwindcss";

/* Atur style dasar untuk tema putih dan font Poppins */
@layer base {
	:root {
		--color-primary: 17 38 66;
		--color-secondary: 198 167 61;

		--font-family-poppins: "Poppins", sans-serif;
	}

	body {
		font-family: "Poppins", sans-serif;
		background-color: #fff;
		color: #1f2937; /* Tailwind's gray-800 */
	}

	.bg-primary {
		background-color: rgb(var(--color-primary)) !important;
	}

	.text-primary {
		color: rgb(var(--color-primary));
	}

	/* Styling khusus untuk sidebar active state */
	.sidebar-active {
		background-color: rgb(17, 38, 66) !important;
		color: white !important;
	}
	.text-secondary {
		color: rgb(var(--color-secondary));
	}
}

@layer components {
	.input-group {
		@apply bg-slate-100 border border-slate-200 p-2 rounded-md mt-2 shadow-sm;
	}
}
